/*      :root{
            name-variable: prop;
        }
        var(name-variable);

    COLORS:
    pink: #f5989d;
    gray-light: #f2f2f2; ( blog ) 
    gray: #252525; ( header)
    border: #3b3b3b;
    hover: #f6acb0;

    FONTS:
    font-family: "Frank Ruhl Libre", sans-serif;
    font-family: "Josefin Sans", sans-serif;
*/
.grid-item{
    width: 25%;
    float: left;
}

.grid-item--width{
    width: 50%;
}

section{
    position: relative;
}
.water-mark{
    font-family: "Frank Ruhl Libre",sans-serif;
    font-size: 30rem;
    color: #fdfdfd;
    text-transform: uppercase;
    text-shadow: 5px 5px 30px #ededed;
    z-index: -999;
    overflow: hidden;
    width: 100%;
    position: absolute; 
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white-bg{
    background: #fff;
}

#services img, #albums img{
    filter: brightness(0.5) grayscale(1);
    transition: .5s ease;
}

.img-responsive{
    display: block;
    width: 100%;
    height: auto;
}

.vertical{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vertical .heading{
    margin-bottom: 60px;
}

.horizontal{
     display: flex;
     align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

.bordering{
    border: 1px solid #3b3b3b;
    height: 100%;
}

.active, .active a, a:hover, .color-pink{
    color: #f5989d;
}

.carousel-indicators .active{
    background: #f5989d;    
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

#home .container{
    color: #fff;
    background: #252525;
    padding: 50px;
    height: 100%;
}

#home ul{
    height: 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li{
    display: block;
    padding: 3px 15px;
}

#home ul li:first-child{
    padding-left: 30px;
}

#home ul li:last-child{
    padding-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: .5s ease;
}

#home nav ul {
    transform: translateY(-50%);
}

#home nav ul li{
    background: #252525;
}

.brand, #home h3{
    font-family: "Frank Ruhl Libre", sans-serif;
}

.brand{
   font-size: 1.8rem;
}

.brand a:hover{
    color: #fff;
    cursor: default;
}
.carousel{
    padding: 0 30px;
    transform:translateY(50%);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#carousel-header{
    transform:translateY(-50%);
}

.carousel-content{
    text-align: center;
}

#home .carousel-content h3{
    font-size: 2rem;
}
#home .carousel-content p{
    font-size: 3rem;
}

#home .sign:hover{
    color: #f5989d;
}

.carousel-indicators{
    display: flex;
    width: 60px;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    background: #3b3b3b;
    transform: rotate(45deg)
}


section{
    margin: 60px 0;
}

section .heading h2{
    color: #f5989d;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section .heading p{
    font-size: 2rem;
    font-family: "Frank Ruhl Libre";
    font-weight: 300;
    margin-bottom: 15px;
}

section .container.horizontal > * {
    flex: 1;
}

.align-margin-right{
    text-align: right;
    padding-right: 80px;
}

.align-margin-left{
    text-align: left;
    padding-left: 80px;
}

.align-center{
    text-align: center;
}

/* services */
#services .container{
    padding: 30px 0 0 0;
    margin: 0 auto;
    width: 70%;
}

.service{
    position: relative;
    padding: 15px;
}

.service-inner, .grid-item{
    background:#f6acb0;
}

.service-inner:hover img, .grid-item:hover img{
    opacity: 0.3;
    cursor: pointer;
}

.grid-item .sign{
    z-index: 100;
    display: none;
    left: 50%;
    color: #fff;
}

.grid-item:hover .sign{
    display: block;
}

.grid-item:hover{
    position: relative;
}


.service p{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    bottom : 15%;
    left: 50%;
    transform: translateX(-50%);
}
/* about */
#about .body{
    height: 400px;
}

.black-bg{
    background: #000;
}

/* news */
.carousel-news{
    position: relative;
}

.sign{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

 .left-sign{

    left: 5%;
}
.right-sign{
    right: 5%;
}

.news{
    display: flex;
}

.news-inner{
    padding: 10px;
    display: flex;
}



.news-wrap{
    display: flex;
    align-items: stretch;
}

.news-wrap > *{
   flex-basis: 50%;
}
.news-body{
    text-align: left;
    padding: 40px;
    background: #f2f2f2;
}

#news h3{
    font-family: "Frank Ruhl Libre";
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.news-heading{
    margin-bottom: 1rem;
}

.news-published{
    font-size: 1rem;
    text-transform: uppercase;
    color: #f5989d;
}
.news-text{
    font-weight: 300;
    font-size: 1.5rem;
}

.carousel-news .carousel-content{
    width: 70%;
    margin: 0 auto;
}

.carousel-shop{
    position: relative;
}

.carousel-shop .carousel-content{
    width: 70%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
}

.shop-item{
    position: relative;
    display: flex;
    margin: 10px;
    width: 320px;
    height: 320px;
    background: #f2f2f2;
}

.shop-cost{
    color: #f6acb0;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
}

#contact .body{
    padding: 5rem;
    background: #f5989d;
    color: #fff;
}

label{
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.contact-form span{
    font-family: "Frank Ruhl Libre", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.hr-line{
    height: 1px;
    width: 100%;
    background: #f6acb0;
    margin: 30px 0;
}

/*Albums */

footer .container{
    color: #fff;
    background: #000;
}

footer .container-inner{
    width: 70%;
    padding: 80px 0;
    margin: 0 auto;
}

footer .hr-line{
    background: #222
}

.social-media-item{
    color: #fff;
    font-size: 3rem;
    margin: 0 15px;
}

.copyright{
    font-family: "Frank Ruhl Libre", sans-serif;
    text-align: center;
}

/* button */

.btn{
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    background: #f5989d;
    color: #fff;
    transition: .3s ease;
}

.btn:hover{
    background: #f6acb0;
}

@media( min-width: 992px){
    .horizontal{
        flex-direction: row;
    }


}

@media (max-width: 991px){
    .carousel-shop .carousel-content{
        width: 70%;
    }
    .hide-small{
        display: none;
    }


    section{
        margin: 50px 0 0 0;
    }

    #about .container{
        padding: 80px 0;
        background: #000;
    }

    #about .heading{
        margin:0;
        padding: 40px 0 ;
        width: 100%;
    }

    .horizontal{
        flex-direction: column;
    }
    .news{
        flex-basis: auto;
    }

    .body{
        order: 2;
    }

    .heading{
        order: 1;
        text-align: center;
        padding: 0;
        margin-bottom: 50px;
    }
    #contact .container{
        width: 70%;
        margin: 0 auto;
        align-items: stretch;
    }
}

#shop .sign:hover, #news .sign:hover{
    color: #3b3b3b;
}

@media(max-width:767px){
    .hide-md{
        display: none;
    }
    #home nav ul li{
        display: none;
    }

    #home nav ul li.brand{
        display: block;
    }
}

@media ( max-width: 543px){
    #home .carousel-content h3 {
        font-size: 1.5rem;
    }
    #home .carousel-content p {
        font-size: 2rem;
    }
    .hide-xs{
        display: none;
    }
    .carousel-shop .carousel-content, .carousel-news .carousel-content{
        width: 100%;
    }

    .news-inner{
        padding: 0;
    }

    .news{
        flex-basis: auto;
    }

    .shop-item{
        width: 100%;
        margin: 0;
    }

    section .heading p{
        font-size: 1.6rem;
    }

    #contact .body{
        width: 100%;
        padding: 3rem 2rem;
    }
    #contact .container{
        width: 100%;
    }

    footer nav ul li{
        font-size: 0.8rem;
        padding: 3px 4px;
    }
    .social-media-item{
        font-size: 2rem;
        margin: 0 5px;
    }
}